<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GO Securi - Liste des Agents</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500">
  </head>

  <body style="font-family: Roboto;">
    <img src="{{filesPath}}/logo.jpg" class="w-25 mx-auto d-block">
    <h1 style="font-family: Roboto; font-weight: 500;" class="text-center mb-5">Liste des agents</h1>

    <div id="listeAgents" class="card-group">

    <!-- {{listeAgents}} -->

  </body>
</html>
