<div class="card  text-center" style="width: 18rem;">
  <img class="card-img-top" src="{{idPath}}">
  <div class="card-body">
    <h5 class="card-title">{{agentNom}}</h5>
    <a href="{{agentPath}}" class="btn" style="background-color: #659224 !important;">ℹ Informations</a>
  </div>
</div>
