<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fiche - {{agentNom}}</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500">
  </head>

  <body style="font-family: Roboto !important;">
    <!-- Bouton retour liste agents -->
    <a href="index.html" class="btn mb-3" style="background-color: #379EC1 !important;"> ← Retour</a>
    <!-- Nom agent -->
    <h1 style="font-family: Roboto; font-weight: 500;" class="text-left">{{agentNom}}</h1>
    <h2 class="text-right">{{pseudo}}</h2>

    <!-- Carte identité -->
    <img src="{{filesPath}}/agents/{{pseudo}}.jpg" class="float-end w-50">

    <!-- Liste équipements -->
    <ul class="list-group">
      <!-- {{listeEquipements}} -->
    </ul>
  </body>
</html>
